{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" type="text/css" />

{% endblock %}

{% block main %}

{% include "flash_messages.html" %}

 <div class="container"> 
 
     <h2 id="title">Add Recipe</h2>
 </div>

 <div class="form-container border-style">
    
    <form method = "POST"  enctype = "multipart/form-data" action="{{ url_for('recipe') }}" class='pro'>
        {{ form.csrf_token }}
        
        <div class="container">
            {{ form.recipe_name.label(class="block") }} {{ form.recipe_name(class="field col-md-4") }}
        </div>
         <div class="container">
            {{ form.prep_time.label(class="block") }} {{ form.prep_time(class="field cols-md-4",placeholder="00:00:00") }}
        </div>
        <div class="container">
            {{ form.serving_quantities.label(class="block") }} {{ form.serving_quantities(class="field col-md-4") }}
        </div>
        <div class="container">
            {{ form.calories.label(class="block") }} {{ form.calories(class="field col-md-4") }}
        </div>

 
    <div class="container">
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </div>
    </form>
{% endblock %}
